.link {
  color: rgba(0, 0, 0, 0.5);
}

.link:hover {
  color: #09294c;
}

.login,
.signup,
.cart {
  background: #09294c;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  color: #fff;
  padding: 10px 23px;
}

.signup,
.cart {
  margin-right: 0.5rem;
}

.cart {
  background: #0dcaf0;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px 50px;
}

.total {
  text-align: left;
}